body {
    background-color: #f0f0f0;
  }

  ul {
    list-style: none;
    padding: 51px;
    
  }

  li {
    text-align: center;
    color: blue;
    background-color: greenyellow;
  }

  img {
    width: 250px;
    height: 250px;
  }