body {
    background-color: #f0f0f0;
  }

  ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }

  li {
    display: inline-block;
    margin: 10px;
    padding: 250px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
  }

  img {
    width: 250px;
    height: 250px;
  }